.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('./media/ii.jpg') no-repeat center center/cover;
  background-attachment: fixed; /* Face ca imaginea de fundal să fie statică */
  color: #fff; /* Setează textul la alb pentru întregul container */
}

.page-title {
  font-size: 2.5em;
  margin-top: 150px; /* Crește margin-top pentru a coborî textul */
  text-align: center;
  color: #fff; /* Ajustează culoarea textului pentru a fi vizibil */
}

.page-subtitle {
  font-size: 1.2em;
  text-align: center;
  margin: 10px 20px 0; /* Elimină marginul de jos */
  color: #fff; /* Ajustează culoarea textului pentru a fi vizibil */
}

.section {
  padding: 0; /* Elimină padding-ul de sus și jos pentru secțiuni */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: transparent; /* Fundal complet transparent */
  color: #fff; /* Setează textul la alb pentru secțiuni */
  margin: 0; /* Elimină marginile */
}

.section-one {
  text-align: center;
  width: 100%;
  background: url('./media/AboutSectionOne.jpg') no-repeat center center/cover;
  position: relative;
  color: rgb(255, 255, 255);
  padding: 0; /* Elimină padding-ul de sus și jos */
  box-sizing: border-box;
  margin-top: -230px; /* Ajustează această valoare pentru a ridica sau coborî secțiunea */
}

.section-two, .section-three, .section-four, .section-five {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: transparent; /* Fundal complet transparent */
  padding: 20px 0; /* Adaugă padding de sus și jos pentru secțiuni */
  box-sizing: border-box;
}

.section-two .content, .section-three .content, .section-four .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.section-two .image-left, .section-three .image-right, .section-four .image-left {
  width: 45%;
  height: auto;
  max-width: 100%;
  margin: 0; /* Elimină padding-ul pentru imagini */
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%); /* Adaugă formă hexagonală */
}

.section-two .text-right, .section-three .text-left, .section-four .text-right {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  color: #fff; /* Setează textul la alb pentru secțiuni */
}

.section-five {
  text-align: center;
  width: 100%;
}

.section-five .images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0px;
}

.section-five .images-container img {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
}

.section-five .images-container img:not(:last-child) {
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%); /* Adaugă formă hexagonală pentru toate imaginile, cu excepția ultimei */
}

@media (max-width: 768px) {
  .section-two .image-left, .section-three .image-right, .section-four .image-left,
  .section-two .text-right, .section-three .text-left, .section-four .text-right {
    width: 100%;
    text-align: center;
  }

  .section-two .content, .section-three .content, .section-four .content {
    flex-direction: column;
  }

  .section-two .image-left, .section-three .image-right, .section-four .image-left {
    margin-bottom: 20px; /* Reduce margin-bottom pentru imagini */
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.25s, color 0.25s;
  margin-top: 10px;
}

.custom-button:hover {
  background-color: darkblue;
  color: lightgray;
}
















