.benutzerkonto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.content-container {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  position: relative;
}

.header-content-wrapper {
  position: relative;
  width: 100%;
}

.header-content {
  width: 100%;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid black;
  background-color: rgb(179, 224, 235);
  text-align: center;
  position: relative;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -20px;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.email-container h3 {
  margin: 0;
  font-weight: normal;
}

.email-container p {
  margin: 5px 0 0;
}

.email-container button {
  margin-top: 10px;
  padding: 5px 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-buttons button {
  margin: 5px;
  padding: 8px;
  width: 100px;
}

.error {
  color: red;
}
