.benutzerkonto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

.profile-container {
  margin-right: 20px;
}

.form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.form-container h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555555;
}

.form-group p {
  margin: 0 0 10px;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 25px;
  background-color: #f9f9f9;
}

.form-group button {
  display: inline-block;
  padding: 12px;
  background-color: rgb(51, 19, 78);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  margin-top: 5px;
}

.form-group button:hover {
  background-color: #7B1FA2;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 25px;
  transition: border-color 0.3s ease-in-out;
}

.modal-content input:focus {
  border-color: #7B1FA2;
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-buttons button {
  margin: 5px;
  padding: 12px;
  background-color: rgb(51, 19, 78);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.modal-buttons button:hover {
  background-color: #7B1FA2;
}

.error {
  color: red;
}
