.conference-container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    padding: 20px;
    padding-top: 80px;
    border-right: 1px solid #ccc;
  }
  
  .create-form {
    width: 80%;
    padding: 20px;
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
  }
  
  .conferences-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .conference-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: calc(50% - 20px); /* Adjusted width for two items with gap */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
  }
  
  .calendar-container {
    margin-top: 20px;
  }
  
  .calendar {
    width: 100%;
  }
  
  .calendar-event {
    background-color: #add8e6; /* Example background color for events */
  }