.savebutton {
    background-color: rgb(51, 19, 78) !important;
    color: #ffffff;
    border-radius: 25px !important;
}

.closebutton {
    background-color: rgb(148, 28, 28) !important;
    color: #ffffff;
    border-radius: 25px !important;
}

.inputtest {
    border-radius: 25px !important;
}