.kontakt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; /* Stellt sicher, dass das Element die volle Höhe des sichtbaren Bereichs einnimmt */
  padding: 2rem;
  box-sizing: border-box;
  background: transparent;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('./media/ii.jpg') no-repeat center center/cover;
}


.section-one {
  text-align: center;
  width: 100%;
  position: relative;
  color: white;
  padding: 50px;
  min-height: 50vh;
  height: 50vh;
}

.form-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
  flex-grow: 1;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%; /* Adjusted to give more space to the form */
  margin-right: 2rem;
  color: white; /* Setează textul la alb pentru formular */
}

form label {
  margin-bottom: 0.5rem;
  color: white; /* Setează textul la alb pentru etichete */
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black; /* Textul din inputuri și textareas va fi negru */
  background-color: white; /* Background-ul inputurilor și textareas va fi alb pentru contrast */
}

.custom-button {
  padding: 0.5rem 1rem; /* Ajustează padding-ul pentru a fi mai mic */
  background-color: #39b6f0; /* Lilac color */
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.25s, color 0.25s;
  margin-top: 10px;
  cursor: pointer;
  width: 100px; /* Ajustează lățimea pentru a se potrivi textului */
  height: auto; /* Ajustează înălțimea pentru a se potrivi textului */
  line-height: 1; /* Asigură alinierea textului vertical */
}

.custom-button:hover {
  background-color: #643cd3; /* Slightly darker lilac for hover effect */
  color: lightgray;
}

.info-section {
  width: 55%; /* Adjusted to give more space to the info section */
  padding: 1rem;
  border-radius: 8px;
  background: transparent; /* Fundal complet transparent */
  color: white; /* Setează textul la alb pentru această secțiune */
}

.info-section p {
  margin-bottom: 3rem;
  font-size: 1.2rem; /* Increase font size */
  color: white; /* Setează textul la alb pentru paragrafe */
}

.info-section a {
  color: white; /* Setează linkurile la alb */
}

.info-section a:hover {
  color: lightgray; /* Schimbă culoarea la hover pentru a evidenția linkurile */
}

.highlight {
  color: rgb(165, 51, 165); /* Ersetzen Sie #ff5733 durch die gewünschte Farbe */
  font-weight: 700;
}