.benutzerkonto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.content-container {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header-content-wrapper {
  position: relative;
  width: 100%;
}

.header-content {
  width: 100%;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid black;
  background-color: rgb(185, 179, 235);
  text-align: center;
  position: relative;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

h1 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -20px;
}

.email-list {
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  max-height: 400px;
}

.email-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.email-subject-link {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.email-subject-link:hover {
  text-decoration: underline;
}

.email-recipient {
  font-size: 0.9em;
  color: #777;
}

.email-details {
  padding: 20px;
  text-align: left;
  width: 100%;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}