body {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card-deck .card {
    min-width: 220px;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  
  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
  