.register-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding-bottom: 20px; 
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-design {
  padding-top: 5px;
  text-align: center;
  font-size: 28px;
  color: #333333;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  font-weight: 600;
  color: #555555;
}

.input-container input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 25px;
  transition: border-color 0.3s ease-in-out;

}

.input-container input:focus {
  border-color: #7B1FA2;
  outline: none;
}

.toggle-password {
  background: none;
  cursor: pointer;
  color: #7B1FA2;
  font-size: 18px;
  width: 50px;
  background-color: black;
}

button {
  padding: 12px;
  background-color: rgb(51, 19, 78);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 5px;
  width: 100%;
}

.toggle-password:hover {

  background-color: rgb(51, 19, 78);
}
button:hover {
  background-color:  #7B1FA2;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.confirmation-container input {
  padding: 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 25px;
  text-align: center;
}

.confirmation-container button {
  padding: 12px;
  background-color: rgb(51, 19, 78);
  color: #ffffff;
  width: 85%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.confirmation-container button:hover {
  background-color:  #7B1FA2;
}
